{% extends 'base.html' %}

{% block title %} Additional fields {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Manage Fields</h3>
    </div>
    <div class="card-body d-flex justify-content-center">
        <div class="btn-group-vertical" role="group">
            <a href="{% url 'status_list' %}" class="btn btn-primary mb-2">Статусы</a>
            <a href="#" class="btn btn-primary mb-2">Типы</a>
            <a href="#" class="btn btn-primary mb-2">Категории</a>
            <a href="#" class="btn btn-primary">Субкатегории</a>
        </div>
    </div>
</div>

{% endblock %}
